.container-dropdowns {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-dropdowns button {
    width: 1023px;    
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 15px;
}