.fiche-container {
    margin-bottom: 50px;
}

.tags-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    text-wrap:nowrap;
}

.tags-stars-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 15px;
}

.container-fiche-dropdowns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
    margin-bottom: 15px;
    width: 80%;
}

.container-fiche-dropdowns .dropdown-container button {
    width: 90%;
    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 25.67px;
    text-align: left;

}

.container-fiche-dropdowns .dropdown-container {
    width: 100%;
}
