.header-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px 30px 50px;
}

.header-links {
    display: flex;    
    gap: 50px;
}

.header-links a {
    font-size: 24px;
    text-decoration: none;
    color: black;    
}