.footer-container {
    padding-top: 50px;
    padding-bottom: 10px;
    background-color: black;
}

.footer-container p {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 24px;
}

@media (max-width: 600px){
    .footer-container p {        
        font-size: 12px;
    }

    .footer-container span {
        display: block;
    }

    .footer-container {
        padding-top: 60px;
        padding-bottom: 35px;
    }
}